<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page 02</title>
    <link rel="stylesheet" href="../styles/import.css" />
    <link rel="stylesheet" href="../styles/assento css/main.css" />
    <script
      src="https://kit.fontawesome.com/d4680403db.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="logo">AirQuest</div>

      <nav>
        <ul>
          <li><a href="#">Reservar</a></li>
          <li><a href="#">Meus voos</a></li>
          <li><a href="#">Ajuda</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>
      </nav>

      <div class="buttons">
        <div class="language">
          <button><i class="fa-solid fa-earth-americas"></i> BR</button>
        </div>

        <div class="search">
          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <div class="login-account">
          <button><i class="fa-solid fa-user"></i></button>
        </div>

        <div class="logout-account">
          <button><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
      </div>
    </header>

    <main>
      <section class="render-flight">
        <button>1 VOOS</button>
        <button>2 ASSENTOS</button>
        <button>3 PAGAMENTO</button>
      </section>

      <section class="select-assento">aisdm</section>
    </main>
  </body>
</html>
